/* Temporary workaroud to prevent font flickering + re-fetch on every render
https://github.com/styled-components/styled-components/issues/2227 */

/*!* Replica Trial =================================================================================================== *!*/
/*@font-face {*/
/*    font-family : "Replica";*/
/*    src         : url("../assets/fonts/replica/ReplicaLLTrialWeb-Regular.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : normal;*/
/*}*/

/*@font-face {*/
/*    font-family : "Replica";*/
/*    src         : url("../assets/fonts/replica/ReplicaLLTrialWeb-Bold.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : italic;*/
/*}*/

/*!* Akkurat Trial =================================================================================================== *!*/
/*@font-face {*/
/*    font-family : "Akkurat";*/
/*    src         : url("../assets/fonts/akkurat/AkkuratLLTrialWeb-Regular.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : normal;*/
/*}*/

/*@font-face {*/
/*    font-family : "Akkurat";*/
/*    src         : url("../assets/fonts/akkurat/AkkuratLLTrialWeb-Bold.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : italic;*/
/*}*/

/*!* N27 ============================================================================================================= *!*/
/*@font-face {*/
/*    font-family : "N27";*/
/*    src         : url("../assets/fonts/n27/n27-regular-webfont.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : normal;*/
/*}*/

/*@font-face {*/
/*    font-family : "N27";*/
/*    src         : url("../assets/fonts/n27/n27-bold-webfont.woff2") format("woff2");*/
/*    font-weight : 400;*/
/*    font-style  : italic;*/
/*}*/

/* SF Pro ========================================================================================================== */
@font-face {
  font-family: "Weissenhof Grotesk";
  src: url("../assets/fonts/wissenhof-grotesk/WeissenhofGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Weissenhof Grotesk";
  src: url("../assets/fonts/wissenhof-grotesk/WeissenhofGrotesk-Bold.otf") format("opentype");
  font-weight: 1000;
  font-style: normal;
}

/* PARSE GROTESK MONO ============================================================================================== */
@font-face {
  font-family: "Parse Grotesk Mono";
  src: url("../assets/fonts/parse-grotesk-mono/AFParseGroteskMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Parse Grotesk Mono";
  src: url("../assets/fonts/parse-grotesk-mono/AFParseGroteskMono-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
